.vs/MiniPiano/FileContentIndex/4759ebd3-43b2-4f6e-9f35-1eb8bfcf2938.vsidx
.vs/MiniPiano/FileContentIndex/f0874eab-6cf6-4c25-9270-ebaf2c6835b3.vsidx
.vs/MiniPiano/FileContentIndex/f202e387-644d-45ed-9e7d-7aba0f0ea7c6.vsidx
.vs/MiniPiano/FileContentIndex/96a0be81-d48f-4cbb-8dd8-dff7666a63df.vsidx
